
.container{
   text-align: center;
   margin-top: 50px;
   max-width: 400px;
   margin-left: 35vw;
   background-color: rgb(168, 167, 167);
 
}
.service-experience-class{
   margin-top: 20px;
}
.bill-sharing-class{
   margin-top: 20px;

}

button{
   margin-top: 20px;
   border-radius: 20px;
   border:none;
   background-color: rgb(221, 66, 66);
   color: aliceblue;
   padding: 3px 5px 3px 5px;
}
  
button:active{
   background-color: black;
}
header{
   background-color: purple;
   color: aliceblue;
}
